<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
       plugins在配置文件中的位置必须符合要求，否则会报错，顺序如下:
       properties?, settings?,
       typeAliases?, typeHandlers?,
       objectFactory?,objectWrapperFactory?,
       plugins?,
       environments?, databaseIdProvider?, mappers?
   -->

    <properties resource="dbmed.properties"/>

    <!--配置PageHelper-->

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <property name="dialect" value="mysql"/>
            <property name="reasonable" value="true"/>
            <property name="offsetAsPageNum" value="true"/>
            <property name="rowBoundsWithCount" value="true"/>
            <property name="pageSizeZero" value="true"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/equipments/management/mapper/StaffMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/DepartmentMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/PatientinfoMapper.xml"/>

        <mapper resource="com/equipments/management/mapper/PathologyacceptMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/AcceptsampleMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/PathologydrawMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/PathologydiagnosisMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/PathologyreviewMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/ReviewdetailMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/ProductMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/ConsultationMapper.xml"/>

        <mapper resource="com/equipments/management/mapper/DicinspmethodMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/InspmethodMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/DiccollectanatomyMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/CollectanatomyMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/PatientappliMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/ReportphotoMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/SamplephotodescMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/DrawphotodescMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/DoctoradviceMapper.xml"/>


        <mapper resource="com/equipments/management/mapper/MedMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/zhongyaoMedMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/shengyaoMedMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/DocsProductMapper.xml"/>
        <mapper resource="com/equipments/management/mapper/SystemMapper.xml"/>
    </mappers>
</configuration>