<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.ConsultationMapper">

    <!-- 
        根据id查询得到一个user对象
     -->
    <resultMap id="consultationResultMap" type="com.equipments.management.domain.Consultation">
        <id property="consultationno" column="CONSULTATION_NO"/>
        <result property="consultationdate" column="CONSULTATION_DATE"/>
        <result property="consultationresult" column="CONSULTATION_RESULT"/>
        <result property="consultationnote" column="CONSULTATION_NOTE"/>

        <association property="applino" column="APPLI_NO"
                     select="com.equipments.management.mapper.PatientappliMapper.getPatientappliById"
                     javaType="com.equipments.management.domain.Patientappli"/>
    </resultMap>

    <select id="getConsultationById" parameterType="Integer"
            resultMap="consultationResultMap">
        select * from eq_consultation where CONSULTATION_NO=#{consultationno}
    </select>
    <select id="getAllConsultations" resultMap="consultationResultMap">
        select * from eq_consultation
    </select>


    <insert id="addConsultation" parameterType="com.equipments.management.domain.Consultation"
            useGeneratedKeys="true" keyProperty="consultationno">
        insert into eq_consultation(APPLI_NO,CONSULTATION_DATE,CONSULTATION_RESULT,CONSULTATION_NOTE)
        values(#{applino.applino},#{consultationdate},#{consultationresult},#{consultationnote})
    </insert>
    <delete id="removeConsultationById" parameterType="Integer">
        delete from eq_consultation where CONSULTATION_NO = #{consultationno}
    </delete>

    <select id="getConsultationByAll" resultMap="consultationResultMap">
        select * from eq_consultation
        <where>
            <if test="consultationno !=null">CONSULTATION_NO=#{consultationno}</if>
            <if test="applino !=null and applino.applino !=null">and APPLI_NO=#{applino.applino}</if>
            <if test="consultationresult !=null">and CONSULTATION_RESULT=#{consultationresult}</if>
            <if test="consultationnote !=null">and CONSULTATION_NOTE=#{consultationnote}</if>
            <if test="consultationdate !=null">and CONSULTATION_DATE=#{consultationdate}</if>
        </where>
    </select>

    <update id="updateConsultation">
        update eq_consultation
        <set>
            <if test="applino !=null and applino.applino !=null">APPLI_NO=#{applino.applino}</if>
            <if test="consultationresult !=null">CONSULTATION_RESULT=#{consultationresult}</if>
            <if test="consultationnote !=null">CONSULTATION_NOTE=#{consultationnote}</if>
            <if test="consultationdate !=null">CONSULTATION_DATE=#{consultationdate}</if>
        </set>
        where CONSULTATION_NO=#{consultationno}
    </update>
</mapper>