<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.DepartmentMapper">

    <!-- 
        根据id查询得到一个user对象
     -->
    <resultMap id="departmentResultMap" type="com.equipments.management.domain.Department">
        <id property="no" column="DEPT_NO"/>
        <result property="code" column="DEPT_CODE"/>
        <result property="name" column="DEPT_NAME"/>
        <result property="alias" column="DEPT_ALIAS"/>
        <result property="grade" column="DEPT_GRADE"/>
    </resultMap>

    <select id="getDepartmentById" parameterType="Integer"
            resultMap="departmentResultMap">
        select * from eq_department where DEPT_NO=#{no}
    </select>
    <select id="getDepartmentByCode" parameterType="String"
            resultMap="departmentResultMap">
        select * from  eq_department where DEPT_CODE=#{code}
    </select>
    <select id="getAllDepartments" resultMap="departmentResultMap">
        select * from eq_department
    </select>


    <insert id="addDepartment" parameterType="com.equipments.management.domain.Department"
            useGeneratedKeys="true" keyProperty="no">
        insert into eq_department(DEPT_CODE,DEPT_NAME,DEPT_ALIAS,DEPT_GRADE)
        values(#{code},#{name},#{alias},#{grade})
    </insert>
    <delete id="removeDepartmentById" parameterType="Integer">
        delete from eq_department where DEPT_NO = #{id}
    </delete>

    <!--获得指定条件的List<Country>-->
    <select id="getDepartmentByAll" resultMap="departmentResultMap">
        select * from eq_department
        <where>
            <if test="no !=null">DEPT_NO=#{no}</if>
            <if test="code !=null">and DEPT_CODE=#{code}</if>
            <if test="name !=null">and DEPT_NAME=#{name}</if>
            <if test="grade !=null">and DEPT_GRADE=#{grade}</if>
        </where>
    </select>

    <!--获得指定条件的Department-->
    <update id="updateDepartment">
        update country_dict
        <set>
            <if test="code !=null">DEPT_CODE=#{code}</if>
            <if test="name !=null">DEPT_NAME=#{name}</if>
            <if test="alias !=null">DEPT_ALIAS=#{alias}</if>
            <if test="grade !=null">DEPT_GRADE=#{grade}</if>
        </set>
        where DEPT_NO=#{no}
    </update>
</mapper>