<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.DiccollectanatomyMapper">

    <!-- 
        根据id查询得到一个user对象
     -->
    <resultMap id="diccollectanatomyResultMap" type="com.equipments.management.domain.Diccollectanatomy">
        <id property="collectno" column="COLLECT_NO"/>
        <result property="collectname" column="COLLECT_NAME"/>
        <result property="collectdesc" column="COLLECT_DESC"/>
    </resultMap>

    <select id="getDiccollectanatomyById" parameterType="Integer"
            resultMap="diccollectanatomyResultMap">
        select * from dic_collect_anatomy where COLLECT_NO=#{collectno}
    </select>
    <select id="getAllDiccollectanatomys" resultMap="diccollectanatomyResultMap">
        select * from dic_collect_anatomy
    </select>

    <select id="countById" resultType="java.lang.Integer" >
        select count(1) from dic_collect_anatomy
    </select>
    <insert id="addDiccollectanatomy" parameterType="com.equipments.management.domain.Diccollectanatomy"
            useGeneratedKeys="true" keyProperty="collectno">
        insert into dic_collect_anatomy(COLLECT_NAME,COLLECT_DESC)
        values(#{collectname},#{collectdesc})
    </insert>
    <delete id="removeDiccollectanatomyById" parameterType="Integer">
        delete from dic_collect_anatomy where COLLECT_NO = #{collectno}
    </delete>

    <select id="getDiccollectanatomyByAll" resultMap="diccollectanatomyResultMap">
        select * from dic_collect_anatomy
        <where>
            <if test="collectno !=null">COLLECT_NO=#{collectno}</if>
            <if test="collectname !=null">and COLLECT_NAME=#{collectname}</if>
            <if test="collectdesc !=null">and COLLECT_DESC=#{collectdesc}</if>
        </where>
    </select>

    <update id="updateDiccollectanatomy">
        update dic_collect_anatomy
        <trim prefix="set" suffixOverrides=",">
            <if test="collectname !=null">COLLECT_NAME=#{collectname},</if>
            <if test="collectdesc !=null">COLLECT_DESC=#{collectdesc},</if>
        </trim>
        where COLLECT_NO=#{collectno}
    </update>
</mapper>