<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.DicinspmethodMapper">

    <!-- 
        根据id查询得到一个user对象
     -->
    <resultMap id="dicinspmethodResultMap" type="com.equipments.management.domain.Dicinspmethod">
        <id property="dicinspmethodno" column="DICINSP_METHOD_NO"/>
        <result property="dicinspmethodname" column="DICINSP_METHOD_NAME"/>
        <result property="dicinspmethoddesc" column="DICINSP_METHOD_DESC"/>
    </resultMap>

    <select id="getDicinspmethodById" parameterType="Integer"
            resultMap="dicinspmethodResultMap">
        select * from dic_insp_method where DICINSP_METHOD_NO=#{dicinspmethodno}
    </select>
    <select id="getAllDicinspmethods" resultMap="dicinspmethodResultMap">
        select * from dic_insp_method
    </select>

    <select id="countById" resultType="java.lang.Integer" >
        select count(1) from dic_insp_method
    </select>
    <insert id="addDicinspmethod" parameterType="com.equipments.management.domain.Dicinspmethod"
            useGeneratedKeys="true" keyProperty="dicinspmethodno">
        insert into dic_insp_method(DICINSP_METHOD_NAME,DICINSP_METHOD_DESC)
        values(#{dicinspmethodname},#{dicinspmethoddesc})
    </insert>
    <delete id="removeDicinspmethodById" parameterType="Integer">
        delete from dic_insp_method where DICINSP_METHOD_NO = #{dicinspmethodno}
    </delete>

    <select id="getDicinspmethodByAll" resultMap="dicinspmethodResultMap">
        select * from dic_insp_method
        <where>
            <if test="dicinspmethodno !=null">DICINSP_METHOD_NO=#{dicinspmethodno}</if>
            <if test="dicinspmethodname !=null">and DICINSP_METHOD_NAME=#{dicinspmethodname}</if>
            <if test="dicinspmethoddesc !=null">and DICINSP_METHOD_DESC=#{dicinspmethoddesc}</if>
        </where>
    </select>

    <update id="updateDicinspmethod">
        update dic_insp_method
        <trim prefix="set" suffixOverrides=",">
            <if test="dicinspmethodname !=null">DICINSP_METHOD_NAME=#{dicinspmethodname},</if>
            <if test="dicinspmethoddesc !=null">DICINSP_METHOD_DESC=#{dicinspmethoddesc},</if>
        </trim>
        where DICINSP_METHOD_NO=#{dicinspmethodno}
    </update>
</mapper>