<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.DoctoradviceMapper">

    <!-- 
        根据id查询得到一个user对象
     -->
    <resultMap id="DoctoradviceMap" type="com.equipments.management.domain.Doctoradvice">
        <id property="adviceno" column="ADVICE_NO"/>
        <result property="advicekind" column="ADVICE_KIND"/>
        <result property="adviceprogram" column="ADVICE_PROGRAM"/>
        <result property="advicecontent" column="ADVICE_CONTENT"/>
        <result property="advicenote" column="ADVICE_NOTE"/>
        <result property="advicenum" column="ADVICE_NUM"/>
        <association property="diagnosisno" column="DIAGNOSIS_NO"
                     select="com.equipments.management.mapper.PathologydiagnosisMapper.getPathologydiagnosisById"
                     javaType="com.equipments.management.domain.Pathologydiagnosis"/>
    </resultMap>

    <select id="getDoctoradviceById" parameterType="Integer"
            resultMap="DoctoradviceMap">
        select * from eq_doctor_advice where ADVICE_NO=#{adviceno}
    </select>
    <select id="getAllDoctoradvices" resultMap="DoctoradviceMap">
        select * from eq_doctor_advice
    </select>

    <select id="countById" resultType="java.lang.Integer" >
        select count(1) from eq_doctor_advice
    </select>

    <insert id="addDoctoradvice" parameterType="com.equipments.management.domain.Doctoradvice"
            useGeneratedKeys="true" keyProperty="adviceno">
        insert into eq_doctor_advice(DIAGNOSIS_NO,,ADVICE_KIND,ADVICE_PROGRAM,ADVICE_CONTENT,ADVICE_NOTE,ADVICE_NUM)
        values(#{diagnosisno.diagnosisno},#{advicekind},#{adviceprogram},#{advicecontent},#{advicenote},#{advicenum})
    </insert>
    <delete id="removeDoctoradviceById" parameterType="Integer">
        delete from eq_doctor_advice where ADVICE_NO = #{adviceno}
    </delete>

    <select id="getDoctoradviceByAllAvaliable" resultMap="DoctoradviceMap" parameterType="com.equipments.management.domain.Doctoradvice">
        select * from eq_doctor_advice
        <where>
            <if test="adviceno !=null">ADVICE_NO=#{adviceno}</if>
            <if test="diagnosisno !=null and diagnosisno.diagnosisno !=null">and DIAGNOSIS_NO=#{diagnosisno.diagnosisno}</if>
            <if test="advicekind !=null">and ADVICE_KIND=#{advicekind}</if>
            <if test="adviceprogram !=null">and ADVICE_PROGRAM=#{adviceprogram}</if>
            <if test="advicecontent !=null">and ADVICE_CONTENT=#{advicecontent}</if>
            <if test="advicenote !=null">and ADVICE_NOTE=#{advicenote}</if>
            <if test="advicenum !=null">and ADVICE_NUM=#{advicenum}</if>
        </where>
    </select>

    <update id="updateDoctoradvice" parameterType="com.equipments.management.domain.Doctoradvice">
        update eq_doctor_advice
        <trim prefix="set" suffixOverrides=",">
            <if test="diagnosisno !=null and diagnosisno.diagnosisno !=null">DIAGNOSIS_NO=#{diagnosisno.diagnosisno}</if>
            <if test="productdesc !=null">ADVICE_KIND=#{advicekind},</if>
            <if test="productstatus !=null">ADVICE_PROGRAM=#{adviceprogram},</if>
            <if test="resultkind !=null">ADVICE_CONTENT=#{advicecontent},</if>
            <if test="productdate !=null">ADVICE_NOTE=#{advicenote},</if>
            <if test="advicenote !=null">ADVICE_NUM=#{advicenum},</if>
        </trim>
        where ADVICE_NO=#{adviceno}
    </update>

    <!--新结构-->
    <resultMap id="Doctoradvice001Map" type="com.equipments.management.domain.gradation.Doctoradvice001">
        <id property="adviceno" column="ADVICE_NO"/>
        <result property="advicekind" column="ADVICE_KIND"/>
        <result property="adviceprogram" column="ADVICE_PROGRAM"/>
        <result property="advicecontent" column="ADVICE_CONTENT"/>
        <result property="advicenote" column="ADVICE_NOTE"/>
        <result property="advicenum" column="ADVICE_NUM"/>
        <result property="diagnosisno" column="DIAGNOSIS_NO"/>
    </resultMap>
    <select id="getDoctoradviceByDiagnosisno" parameterType="Integer"
            resultMap="Doctoradvice001Map">
        select * from eq_doctor_advice where DIAGNOSIS_NO=#{diagnosisno}
    </select>
    <!--zp-->
    <select id="getDoctoradviceByDiagnosisnoTable" parameterType="Integer"
            resultType="java.util.Map">
        SELECT
        a.ADVICE_NO adviceno,
        c.SAMPLE_DESC sampledesc,
        c.SAMPLE_NO sampleno,
        d.DRAW_NO drawno,
        a.ADVICE_KIND advicekind,
        a.ADVICE_PROGRAM adviceprogram,
        a.ADVICE_CONTENT advicecontent,
        a.ADVICE_NUM advicenum
        FROM
        meds.eq_doctor_advice a,
        meds.eq_pathology_diagnosis b,
        eq_accept_sample c,
        eq_pathology_draw d
        WHERE
        a.DIAGNOSIS_NO = b.DIAGNOSIS_NO
        AND b.SAMPLE_NO = c.SAMPLE_NO
        AND c.SAMPLE_NO = d.SAMPLE_NO
        AND a.DIAGNOSIS_NO = #{diagnosisno}
    </select>
</mapper>
