<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.PathologyreviewMapper">

    <!-- 
        根据id查询得到一个user对象
     -->
    <resultMap id="pathologyreviewMap" type="com.equipments.management.domain.Pathologyreview">
        <id property="reviewno" column="REVIEW_NO"/>
        <result property="reviewresult" column="REVIEW_RESULT"/>
        <result property="diagnosisinitial" column="DIAGNOSIS_INITIAL"/>
        <result property="reviewstatus" column="REVIEW_STATUS"/>
        <result property="reviewnote" column="REVIEW_NOTE"/>
        <result property="reviewdate" column="REVIEW_DATE"/>
        <result property="diagnosisstatus" column="DIAGNOSIS_STATUS"/>
        <result property="consultationif" column="CONSULTATION_IF"/>
        <result property="printdate" column="PRINT_DATE"/>

        <association property="patientappli" column="APPLI_NO"
                     select="com.equipments.management.mapper.PatientappliMapper.getPatientappliById"
                     javaType="com.equipments.management.domain.Patientappli"/>
        <association property="reviewdoctorid" column="REVIEW_DOCTOR_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
    </resultMap>

    <select id="getPathologyreviewById" parameterType="Integer"
            resultMap="pathologyreviewMap">
        select * from eq_pathology_review where REVIEW_NO=#{reviewno}
    </select>
    <select id="getAllPathologyreviews" resultMap="pathologyreviewMap">
        select * from eq_pathology_review
    </select>


    <insert id="addPathologyreview" parameterType="com.equipments.management.domain.Pathologyreview"
            useGeneratedKeys="true" keyProperty="reviewno">
        insert into eq_pathology_review(DIAGNOSIS_NO,REVIEW_RESULT,DIAGNOSIS_INITIAL,REVIEW_STATUS,REVIEW_NOTE,REVIEW_DOCTOR_ID,REVIEW_DATE,DIAGNOSIS_STATUS,CONSULTATION_IF)
        values(#{applino.applino},#{reviewresult},#{diagnosisinitial},#{reviewstatus},#{reviewnote},#{reviewdoctorid.id},#{reviewdate},#{diagnosisstatus},#{consultationif})
    </insert>
    <delete id="removePathologyreviewById" parameterType="Integer">
        delete from eq_pathology_review where REVIEW_NO = #{reviewno}
    </delete>

    <select id="getPathologyreviewByAll" resultMap="pathologyreviewMap">
        select * from eq_pathology_review
        <where>
            <if test="reviewno !=null">REVIEW_NO=#{reviewno}</if>
            <if test="applino !=null and applino.applino !=null">and APPLI_NO=#{applino.applino}</if>
            <if test="reviewresult !=null">and REVIEW_RESULT=#{reviewresult}</if>
            <if test="diagnosisinitial !=null">and DIAGNOSIS_INITIAL=#{diagnosisinitial}</if>
            <if test="reviewstatus !=null">and REVIEW_STATUS=#{reviewstatus}</if>
            <if test="reviewnote !=null">and REVIEW_NOTE=#{reviewnote}</if>
            <if test="reviewdate !=null">and REVIEW_DATE=#{reviewdate}</if>
            <if test="diagnosisstatus !=null">and DIAGNOSIS_STATUS=#{diagnosisstatus}</if>
            <if test="consultationif !=null">and CONSULTATION_IF=#{consultationif}</if>
            <if test="reviewdoctorid !=null and reviewdoctorid.id !=null">and REVIEW_DOCTOR_ID=#{reviewdoctorid.id}</if>
        </where>
    </select>

    <update id="updatePathologyreview">
        update eq_pathology_review
        <trim prefix="set" suffixOverrides=",">
            <if test="applino !=null and applino.applino !=null">APPLI_NO=#{applino.applino},</if>
            <if test="reviewresult !=null">REVIEW_RESULT=#{reviewresult},</if>
            <if test="diagnosisinitial !=null">DIAGNOSIS_INITIAL=#{diagnosisinitial},</if>
            <if test="reviewstatus !=null">REVIEW_STATUS=#{reviewstatus},</if>
            <if test="reviewnote !=null">REVIEW_NOTE=#{reviewnote},</if>
            <if test="reviewdate !=null">REVIEW_DATE=#{reviewdate},</if>
            <if test="diagnosisstatus !=null">DIAGNOSIS_STATUS=#{diagnosisstatus},</if>
            <if test="consultationif !=null">CONSULTATION_IF=#{consultationif},</if>
            <if test="reviewdoctorid !=null and reviewdoctorid.id !=null">REVIEW_DOCTOR_ID=#{reviewdoctorid.id},</if>
        </trim>
        where REVIEW_NO=#{reviewno}
    </update>

    <select id="selectDignosisDetail" resultType="com.equipments.management.domain.Pathologydiagnosisinfo" parameterType="java.util.Map">
        select PR.REVIEW_NO as reviewno,PI.PATIENT_NAME as patientname,
        PA.APPLI_NO as applino,PA.PRODUCTS_NUM as productsnum,
        PI.INFOR_CLINICAL as inforclinical,PR.REVIEW_DATE as reportdate,
        PA.INSP_METHOD_LIST as inspmethodlist,PR.REVIEW_RESULT as reviewresult,
        PR.REVIEW_DOCTOR_ID as reviewdoctorid,PR.CONSULTATION_IF as consultationif,
        PR.DIAGNOSIS_STATUS as diagnosisstatus
        from eq_pathology_review PR
        left join eq_patient_appli PA on PR.APPLI_NO = PA.APPLI_NO
        left join eq_patient_info PI on PI.PATIENT_NO = PA.PATIENT_NO
        <where>
            <if test='diagnosisstatus !=null'>PR.DIAGNOSIS_STATUS=#{diagnosisstatus}</if>
            <if test='consultationif !=null'>and PR.CONSULTATION_IF=#{consultationif}</if>
            <if test='patientname !=null'>or PI.PATIENT_NAME=#{patientname}</if>
            <if test='applino !=null'>or PA.APPLI_NO=#{applino,jdbcType=INTEGER}</if>
        </where>
    </select>

    <select id="selectAllDignosisDetail" resultType="com.equipments.management.domain.Pathologydiagnosisinfo">
        select PR.REVIEW_NO as reviewno,PI.PATIENT_NAME as patientname,
        PA.APPLI_NO as applino,PA.PRODUCTS_NUM as productsnum,
        PI.INFOR_CLINICAL as inforclinical,PR.REVIEW_DATE as reportdate,
        PA.INSP_METHOD_LIST as inspmethodlist,PR.REVIEW_RESULT as reviewresult,
        PR.REVIEW_DOCTOR_ID as reviewdoctorid,PR.CONSULTATION_IF as consultationif,
        PR.DIAGNOSIS_STATUS as diagnosisstatus
        from eq_pathology_review PR
        left join eq_patient_appli PA on PR.APPLI_NO = PA.APPLI_NO
        left join eq_patient_info PI on PI.PATIENT_NO = PA.PATIENT_NO
    </select>

    <select id="selectAllDignosisreportDetail" resultType="com.equipments.management.domain.Pathologydiagnosisreport">
        select PI.PATIENT_AGE as patientage,PI.PATIENT_NAME as patientname,
        PA.PATIENT_DIAG_KIND as patientdiagkind,PA.APPLI_NO as applino,
        PR.REVIEW_DATE as reviewdate,PR.PRINT_DATE as printdate,
        ST.STAFF_NAME as reviewdoctorid
        from eq_pathology_review PR
        left join eq_patient_appli PA on PR.APPLI_NO = PA.APPLI_NO
        left join eq_patient_info PI on PI.PATIENT_NO = PA.PATIENT_NO
        left join eq_staff ST on ST.STAFF_ID = PR.REVIEW_DOCTOR_ID
    </select>

    <select id="selectDignosisreportDetail" resultType="com.equipments.management.domain.Pathologydiagnosisreport" parameterType="java.util.Map">
        select PI.PATIENT_AGE as patientage,PI.PATIENT_NAME as patientname,
        PA.PATIENT_DIAG_KIND as patientdiagkind,PA.APPLI_NO as applino,
        PR.REVIEW_DATE as reviewdate,PR.PRINT_DATE as printdate,
        ST.STAFF_NAME as reviewdoctorid
        from eq_pathology_review PR
        left join eq_patient_appli PA on PR.APPLI_NO = PA.APPLI_NO
        left join eq_patient_info PI on PI.PATIENT_NO = PA.PATIENT_NO
        left join eq_staff ST on ST.STAFF_ID = PR.REVIEW_DOCTOR_ID
        <where>
            <if test='reviewstatus !=null'>PR.REVIEW_STATUS=#{reviewstatus}</if>
            <if test='patientdiagkind !=null'>and PA.PATIENT_DIAG_KIND=#{patientdiagkind}</if>
            <if test='patientname !=null'>or PI.PATIENT_NAME=#{patientname}</if>
            <if test='applino !=null'>or PA.APPLI_NO=#{applino,jdbcType=INTEGER}</if>
            <if test="reviewdate001 != null">
                <![CDATA[ and date(PR.REVIEW_DATE) >= date(#{reviewdate001,jdbcType=DATE})]]>
            </if>
            <if test="reviewdate002 != null">
                <![CDATA[ and date(PR.REVIEW_DATE) <= date(#{reviewdate002,jdbcType=DATE})]]>
            </if>
        </where>
    </select>

    <!--新结构-->
    <resultMap id="pathologyreview001Map" type="com.equipments.management.domain.gradation.Pathologyreview001">
        <id property="reviewno" column="REVIEW_NO"/>
        <result property="reviewresult" column="REVIEW_RESULT"/>
        <result property="diagnosisinitial" column="DIAGNOSIS_INITIAL"/>
        <result property="reviewstatus" column="REVIEW_STATUS"/>
        <result property="reviewnote" column="REVIEW_NOTE"/>
        <result property="reviewdate" column="REVIEW_DATE"/>
        <result property="diagnosisstatus" column="DIAGNOSIS_STATUS"/>
        <result property="consultationif" column="CONSULTATION_IF"/>
        <result property="printdate" column="PRINT_DATE"/>

        <association property="reviewdoctorid" column="REVIEW_DOCTOR_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
    </resultMap>

    <select id="getPathologyreviewByApplino" parameterType="Integer"
            resultMap="pathologyreview001Map">
        select * from eq_pathology_review where APPLI_NO=#{applino}
    </select>
</mapper>