<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.PathologydrawMapper">

    <!-- 
        根据id查询得到一个user对象
     -->
    <resultMap id="pathologydrawMap" type="com.equipments.management.domain.Pathologydraw">
        <id property="drawno" column="DRAW_NO"/>
        <result property="drawdesc" column="DRAW_DESC"/>
        <result property="drawposition" column="DRAW_POSITION"/>
        <result property="drawkind" column="DRAW_KIND"/>
        <result property="drawdate" column="DRAW_DATE"/>
        <result property="productnum" column="PRODUCT_NUM"/>
        <result property="drawnote" column="DRAW_NOTE"/>
        <association property="sampleno" column="SAMPLE_NO"
                     select="com.equipments.management.mapper.AcceptsampleMapper.getAcceptsampleById"
                     javaType="com.equipments.management.domain.Acceptsample"/>
        <association property="drawdoctorid" column="DRAW_DOCTOR_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
        <collection property="drawphotodescList" column="DRAW_NO" ofType="com.equipments.management.domain.Drawphotodesc"
                    select="com.equipments.management.mapper.DrawphotodescMapper.getDrawphotodescByNo"/>
    </resultMap>

    <select id="getPathologydrawById" parameterType="Integer"
            resultMap="pathologydrawMap">
        select * from eq_pathology_draw where DRAW_NO=#{drawno}
    </select>

    <!--获得最近的N个新纪录-->
    <select id="getTopNPathologydraw" parameterType="Integer"
            resultType="java.lang.Integer">
        select  MAX(DRAW_NO) from eq_pathology_draw
    </select>

    <select id="getAllPathologydraws" resultMap="pathologydrawMap">
        select * from eq_pathology_draw
    </select>

    <select id="selectByIds" resultMap="pathologydrawMap">
        select * from eq_pathology_draw
        <where>
            <if test="array !=null">
                <foreach collection="array" index="index" item="item" open="and SAMPLE_NO in (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <insert id="addPathologydraw" parameterType="com.equipments.management.domain.Pathologydraw"
            useGeneratedKeys="true" keyProperty="drawno">
        insert into eq_pathology_draw(SAMPLE_NO,DRAW_DESC,DRAW_POSITION,DRAW_DOCTOR_ID,DRAW_KIND,PRODUCT_NUM,DRAW_DATE,drawnote)
        values(#{sampleno.sampleno},#{drawdesc},#{drawposition},#{drawdoctorid.id},#{drawkind},#{productnum},date(#{drawdate},#{DRAW_NOTE}))
    </insert>
    <delete id="removePathologydrawById" parameterType="Integer">
        delete from eq_pathology_draw where DRAW_NO = #{drawno}
    </delete>

    <select id="getPathologydrawByAll" resultMap="pathologydrawMap">
        select * from eq_pathology_draw
        <where>
            <if test="drawno !=null">DRAW_NO=#{drawno}</if>
            <if test="sampleno !=null and sampleno.sampleno !=null">and SAMPLE_NO=#{sampleno.sampleno}</if>
            <if test="drawdesc !=null">and DRAW_DESC=#{drawdesc}</if>
            <if test="drawposition !=null">and DRAW_POSITION=#{drawposition}</if>
            <if test="drawdoctorid !=null and drawdoctorid.id !=null">and DRAW_DOCTOR_ID=#{drawdoctorid.id}</if>
            <if test="drawkind !=null">and DRAW_KIND=#{drawkind}</if>
        </where>
    </select>

    <update id="updatePathologydraw">
        update eq_pathology_draw
        <trim prefix="set" suffixOverrides=",">
            <if test="sampleno !=null and sampleno.sampleno !=null">SAMPLE_NO=#{sampleno.sampleno}</if>
            <if test="drawdesc !=null">DRAW_DESC=#{drawdesc},</if>
            <if test="drawposition !=null">DRAW_POSITION=#{drawposition},</if>
            <if test="drawdoctorid !=null and drawdoctorid.id !=null">DRAW_DOCTOR_ID=#{drawdoctorid.id},</if>
            <if test="drawkind !=null">DRAW_KIND=#{drawkind},</if>
            <if test="drawnote !=null">DRAW_NOTE=#{drawnote},</if>
        </trim>
        where DRAW_NO=#{drawno}
    </update>



    <!--层级结构-->
    <resultMap id="pathologydraw001Map" type="com.equipments.management.domain.gradation.Pathologydraw001">
        <id property="drawno" column="DRAW_NO"/>
        <result property="drawdesc" column="DRAW_DESC"/>
        <result property="drawposition" column="DRAW_POSITION"/>
        <result property="drawkind" column="DRAW_KIND"/>
        <result property="drawdate" column="DRAW_DATE"/>
        <result property="productnum" column="PRODUCT_NUM"/>
        <result property="drawnote" column="DRAW_NOTE"/>
        <association property="drawdoctorid" column="DRAW_DOCTOR_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
        <collection property="drawphotodescList" column="DRAW_NO" ofType="com.equipments.management.domain.Drawphotodesc"
                    select="com.equipments.management.mapper.DrawphotodescMapper.getDrawphotodescByNo"/>
        <collection property="product001List" column="DRAW_NO" ofType="com.equipments.management.domain.gradation.Product001"
                    select="com.equipments.management.mapper.ProductMapper.getProduct001ByDrawno"/>
    </resultMap>
    <select id="getPathologydrawBySampleno" parameterType="Integer"
            resultMap="pathologydraw001Map">
        select * from eq_pathology_draw where SAMPLE_NO=#{sampleno}
    </select>
</mapper>