<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.PatientappliMapper">

    <!-- 
        根据id查询得到一个user对象
     -->
    <resultMap id="patientappliResultMap" type="com.equipments.management.domain.Patientappli">
        <id property="applino" column="APPLI_NO"/>
        <result property="inspunitname" column="INSP_UNIT_NAME"/>
        <result property="patientkind" column="PATIENT_KIND"/>
        <result property="chargekind" column="CHARGE_KIND"/>
        <result property="chargenum" column="CHARGE_NUM"/>
        <result property="specimentkind" column="SPECIMENT_KIND"/>
        <result property="patientdiagkind" column="PATIENT_DIAG_KIND"/>
        <result property="diagnosisrecord" column="DIAGNOSIS_RECORD"/>
        <result property="applidate" column="APPLI_DATE"  jdbcType="DATE" javaType="java.util.Date" />
        <result property="inspdate" column="INSP_DATE"  jdbcType="DATE" javaType="java.util.Date"/>
        <result property="applisymptom" column="APPLI_SYMPTOM"/>
        <result property="applisigns" column="APPLI_SIGNS"/>
        <result property="otherdiagnosis" column="OTHER_DIAGNOSIS"/>
        <result property="pathologyexamif" column="PATHOLOGY_EXAM_IF"/>
        <result property="cancerfounddate" column="CANCER_FOUND_DATE"/>
        <result property="cancerfoundplace" column="CANCER_FOUND_PLACE"/>
        <result property="cancerfoundsize" column="CANCER_FOUND_SIZE"/>
        <result property="transferif" column="TRANSFER_IF"/>
        <result property="transferplace" column="TRANSFER_PLACE"/>
        <result property="chemotherapyif" column="CHEMOTHERAPY_IF"/>
        <result property="cancernowdate" column="CANCER_NOW_DATE"/>
        <result property="cancernowsize" column="CANCER_NOW_SIZE"/>
        <result property="menstrualcycle" column="MENSTRUAL_CYCLE"/>
        <result property="menstrualduration" column="MENSTRUAL_DURATION"/>
        <result property="lastmenstrualdate" column="LAST_MENSTRUAL_DATE"/>
        <result property="cycletreatmentif" column="CYCLE_TREATMENT_IF"/>
        <result property="cycletreatmenttime" column="CYCLE_TREATMENT_TIME"/>
        <result property="cycletreatmentdose" column="CYCLE_TREATMENT_DOSE"/>
        <result property="birthnum" column="BIRTH_NUM"/>
        <result property="productnum" column="PRODUCT_NUM"/>
        <result property="contraceptionif" column="CONTRACEPTION_IF"/>
        <result property="contraceptionmethod" column="CONTRACEPTION_METHOD"/>
        <result property="iodinetreatmentif" column="IODINE_TREATMENT_IF"/>
        <result property="thiouraciltreatmentif" column="THIOURACIL_TREATMENT_IF"/>
        <result property="surgeryseen" column="SURGERY_SEEN"/>
        <result property="labresult" column="LAB_RESULT"/>
        <result property="specialrequire" column="SPECIAL_REQUIRE"/>
        <result property="otherlookup" column="OTHER_LOOKUP"/>
        <result property="advicestatus" column="ADVICE_STATUS"/>
        <result property="samplenum" column="SAMPLE_NUM"/>
        <result property="productsnum" column="PRODUCTS_NUM"/>
        <result property="drawnum" column="DRAW_NUM"/>
        <result property="acceptdate" column="ACCEPT_DATE" jdbcType="DATE" javaType="java.util.Date"/>
        <result property="acceptresult" column="ACCEPT_RESULT"/>
        <result property="inspmethodlist" column="INSP_METHOD_LIST"/>
        <association property="patientinfo" column="PATIENT_NO"
                     select="com.equipments.management.mapper.PatientinfoMapper.getPatientinfoById"
                     javaType="com.equipments.management.domain.Patientinfo"/>
        <association property="inspdoctid" column="INSP_DOCT_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
        <association property="applidoctorid" column="APPLI_DOCTOR_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
        <association property="acceptdoctorid" column="ACCEPT_DOCTOR_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
        <association property="inspdepartid" column="INSP_DEPART_ID"
                     select="com.equipments.management.mapper.DepartmentMapper.getDepartmentById"
                     javaType="com.equipments.management.domain.Department"/>
        <collection property="inspmethodList" column="APPLI_NO" ofType="com.equipments.management.domain.Inspmethod"
                    select="com.equipments.management.mapper.InspmethodMapper.getInspmethodByNo"/>
        <collection property="collectanatomyList" column="APPLI_NO" ofType="com.equipments.management.domain.Collectanatomy"
                    select="com.equipments.management.mapper.CollectanatomyMapper.getCollectanatomyByNo"/>
    </resultMap>

    <select id="getPatientappliById" parameterType="Integer"
            resultMap="patientappliResultMap">
        select * from eq_patient_appli where APPLI_NO=#{applino}
    </select>
    <select id="getAllPatientapplis" resultMap="patientappliResultMap">
        select * from eq_patient_appli
    </select>

    <select id="countById" resultType="java.lang.Integer" >
        select count(1) from eq_patient_appli
    </select>

    <insert id="addPatientappli" parameterType="com.equipments.management.domain.Patientappli"
            useGeneratedKeys="true" keyProperty="applino">
        insert into eq_patient_appli(PATIENT_NO,INSP_UNIT_NAME,INSP_DEPART_ID,INSP_DOCT_ID,PATIENT_KIND,CHARGE_KIND,CHARGE_NUM,SPECIMENT_KIND,PATIENT_DIAG_KIND,DIAGNOSIS_RECORD,APPLI_DATE,APPLI_DOCTOR_ID,INSP_DATE,APPLI_SYMPTOM,APPLI_SIGNS,OTHER_DIAGNOSIS,PATHOLOGY_EXAM_IF,CANCER_FOUND_DATE,CANCER_FOUND_PLACE,CANCER_FOUND_SIZE,TRANSFER_IF,TRANSFER_PLACE,CHEMOTHERAPY_IF,CANCER_NOW_DATE,CANCER_NOW_SIZE,MENSTRUAL_CYCLE,MENSTRUAL_DURATION,LAST_MENSTRUAL_DATE,CYCLE_TREATMENT_IF,CYCLE_TREATMENT_TIME,CYCLE_TREATMENT_DOSE,BIRTH_NUM,PRODUCT_NUM,CONTRACEPTION_IF,CONTRACEPTION_METHOD,IODINE_TREATMENT_IF,THIOURACIL_TREATMENT_IF,SURGERY_SEEN,LAB_RESULT,SPECIAL_REQUIRE,OTHER_LOOKUP,ADVICE_STATUS,SAMPLE_NUM,ACCEPT_DATE,ACCEPT_RESULT,ACCEPT_DOCTOR_ID,INSP_METHOD_LIST,DRAW_NUM,PRODUCTS_NUM)
        values(#{patientinfo.patientno},#{inspunitname},#{inspdepartid.no},#{inspdoctid.id},#{patientkind},#{chargekind},#{chargenum},#{specimentkind},#{patientdiagkind},#{diagnosisrecord},#{applidate},#{applidoctorid.id},#{inspdate},#{applisymptom},#{applisigns},#{otherdiagnosis},#{pathologyexamif},#{cancerfounddate},#{cancerfoundplace},#{cancerfoundsize},#{transferif},#{transferplace},#{chemotherapyif},#{cancernowdate},#{cancernowsize},#{menstrualcycle},#{menstrualduration},#{lastmenstrualdate},#{cycletreatmentif},#{cycletreatmenttime},#{cycletreatmentdose},#{birthnum},#{productnum},#{contraceptionif},#{contraceptionmethod},#{iodinetreatmentif},#{thiouraciltreatmentif},#{surgeryseen},#{labresult},#{specialrequire},#{otherlookup},#{advicestatus},#{samplenum},#{acceptdate},#{acceptresult},#{acceptdoctorid.id},#{inspmethodlist},#{drawnum},#{productsnum})
    </insert>
    <delete id="removePatientappliById" parameterType="Integer">
        delete from eq_patient_appli where APPLI_NO = #{applino}
    </delete>

    <select id="getPatientappliByAll" resultMap="patientappliResultMap">
        select * from eq_patient_appli
        <where>
            <if test="applino !=null">APPLI_NO=#{applino}</if>
            <if test="patientinfo !=null and patientinfo.patientno !=null">and PATIENT_NO=#{patientinfo.patientno}</if>
            <if test="inspunitname !=null">and INSP_UNIT_NAME=#{inspunitname}</if>
            <if test="inspdepartid !=null and inspdepartid.no !=null">and INSP_DEPART_ID=#{inspdepartid.no}</if>
            <if test="inspdoctid !=null and inspdoctid.id !=null">and INSP_DOCT_ID=#{inspdoctid.id}</if>
            <if test="patientkind !=null">and PATIENT_KIND=#{patientkind}</if>
            <if test="chargekind !=null">and CHARGE_KIND=#{chargekind}</if>
            <if test="chargenum !=null">and CHARGE_NUM=#{chargenum}</if>
            <if test="specimentkind !=null">and SPECIMENT_KIND=#{specimentkind}</if>
            <if test="patientdiagkind !=null">and PATIENT_DIAG_KIND=#{patientdiagkind}</if>
            <if test="diagnosisrecord !=null">and DIAGNOSIS_RECORD=#{diagnosisrecord}</if>
            <if test="applidate !=null">and APPLI_DATE=#{applidate}</if>
            <if test="applidoctorid !=null and applidoctorid.id !=null">and APPLI_DOCTOR_ID=#{applidoctorid.id}</if>
            <if test="inspdate !=null">and INSP_DATE=#{inspdate}</if>
            <if test="applisymptom !=null">and APPLI_SYMPTOM=#{applisymptom}</if>
            <if test="applisigns !=null">and APPLI_SIGNS=#{applisigns}</if>
            <if test="otherdiagnosis !=null">and OTHER_DIAGNOSIS=#{otherdiagnosis}</if>
            <if test="pathologyexamif !=null">and PATHOLOGY_EXAM_IF=#{pathologyexamif}</if>
            <if test="cancerfounddate !=null">and CANCER_FOUND_DATE=#{cancerfounddate}</if>
            <if test="cancerfoundplace !=null">and CANCER_FOUND_PLACE=#{cancerfoundplace}</if>
            <if test="cancerfoundsize !=null">and CANCER_FOUND_SIZE=#{cancerfoundsize}</if>
            <if test="transferif !=null">and TRANSFER_IF=#{transferif}</if>
            <if test="transferplace !=null">and TRANSFER_PLACE=#{transferplace}</if>
            <if test="chemotherapyif !=null">and CHEMOTHERAPY_IF=#{chemotherapyif}</if>
            <if test="cancernowdate !=null">and CANCER_NOW_DATE=#{cancernowdate}</if>
            <if test="cancernowsize !=null">and CANCER_NOW_SIZE=#{cancernowsize}</if>
            <if test="menstrualcycle !=null">and MENSTRUAL_CYCLE=#{menstrualcycle}</if>
            <if test="menstrualduration !=null">and MENSTRUAL_DURATION=#{menstrualduration}</if>
            <if test="lastmenstrualdate !=null">and LAST_MENSTRUAL_DATE=#{lastmenstrualdate}</if>
            <if test="cycletreatmentif !=null">and CYCLE_TREATMENT_IF=#{cycletreatmentif}</if>
            <if test="cycletreatmenttime !=null">and CYCLE_TREATMENT_TIME=#{cycletreatmenttime}</if>
            <if test="cycletreatmentdose !=null">and CYCLE_TREATMENT_DOSE=#{cycletreatmentdose}</if>
            <if test="birthnum !=null">and BIRTH_NUM=#{birthnum}</if>
            <if test="productnum !=null">and PRODUCT_NUM=#{productnum}</if>
            <if test="contraceptionif !=null">and CONTRACEPTION_IF=#{contraceptionif}</if>
            <if test="contraceptionmethod !=null">and CONTRACEPTION_METHOD=#{contraceptionmethod}</if>
            <if test="iodinetreatmentif !=null">and IODINE_TREATMENT_IF=#{iodinetreatmentif}</if>
            <if test="thiouraciltreatmentif !=null">and THIOURACIL_TREATMENT_IF=#{thiouraciltreatmentif}</if>
            <if test="surgeryseen !=null">and SURGERY_SEEN=#{surgeryseen}</if>
            <if test="labresult !=null">and LAB_RESULT=#{labresult}</if>
            <if test="specialrequire !=null">and SPECIAL_REQUIRE=#{specialrequire}</if>
            <if test="otherlookup !=null">and OTHER_LOOKUP=#{otherlookup}</if>
            <if test="advicestatus !=null">and ADVICE_STATUS=#{advicestatus}</if>
            <if test="samplenum !=null">and SAMPLE_NUM=#{samplenum}</if>
            <if test="acceptdoctorid !=null  and acceptdoctorid.id !=null">and ACCEPT_DOCTOR_ID=#{acceptdoctorid.id}</if>
            <if test="acceptdate !=null">and ACCEPT_DATE=#{acceptdate}</if>
            <if test="acceptresult !=null">and ACCEPT_RESULT=#{acceptresult}</if>
            <if test="productsnum !=null">and PRODUCTS_NUM=#{productsnum}</if>
            <if test="drawnum !=null">and DRAW_NUM=#{drawnum}</if>
            </where>
    </select>

    <update id="updatePatientappli" parameterType="com.equipments.management.domain.Patientappli">
        update eq_patient_appli
        <trim prefix="set" suffixOverrides=",">
            <if test="patientinfo !=null and patientinfo.patientno !=null">PATIENT_NO=#{patientinfo.patientno},</if>
            <if test="inspunitname !=null">INSP_UNIT_NAME=#{inspunitname},</if>
            <if test="inspdepartid !=null and inspdepartid.no !=null">INSP_DEPART_ID=#{inspdepartid.no},</if>
            <if test="inspdoctid !=null and inspdoctid.id !=null">INSP_DOCT_ID=#{inspdoctid.id},</if>
            <if test="patientkind !=null">PATIENT_KIND=#{patientkind},</if>
            <if test="chargekind !=null">CHARGE_KIND=#{chargekind},</if>
            <if test="chargenum !=null">CHARGE_NUM=#{chargenum},</if>
            <if test="specimentkind !=null">SPECIMENT_KIND=#{specimentkind},</if>
            <if test="patientdiagkind !=null">PATIENT_DIAG_KIND=#{patientdiagkind},</if>
            <if test="diagnosisrecord !=null">DIAGNOSIS_RECORD=#{diagnosisrecord},</if>
            <if test="applidate !=null">APPLI_DATE=#{applidate},</if>
            <if test="applidoctorid !=null and applidoctorid.id !=null">and APPLI_DOCTOR_ID=#{applidoctorid.id},</if>
            <if test="inspdate !=null">INSP_DATE=#{inspdate},</if>
            <if test="applisymptom !=null">APPLI_SYMPTOM=#{applisymptom},</if>
            <if test="applisigns !=null">APPLI_SIGNS=#{applisigns},</if>
            <if test="otherdiagnosis !=null">OTHER_DIAGNOSIS=#{otherdiagnosis},</if>
            <if test="pathologyexamif !=null">PATHOLOGY_EXAM_IF=#{pathologyexamif},</if>
            <if test="cancerfounddate !=null">CANCER_FOUND_DATE=#{cancerfounddate},</if>
            <if test="cancerfoundplace !=null">CANCER_FOUND_PLACE=#{cancerfoundplace},</if>
            <if test="cancerfoundsize !=null">CANCER_FOUND_SIZE=#{cancerfoundsize},</if>
            <if test="transferif !=null">TRANSFER_IF=#{transferif},</if>
            <if test="transferplace !=null">TRANSFER_PLACE=#{transferplace},</if>
            <if test="chemotherapyif !=null">CHEMOTHERAPY_IF=#{chemotherapyif},</if>
            <if test="cancernowdate !=null">CANCER_NOW_DATE=#{cancernowdate},</if>
            <if test="cancernowsize !=null">CANCER_NOW_SIZE=#{cancernowsize},</if>
            <if test="menstrualcycle !=null">MENSTRUAL_CYCLE=#{menstrualcycle},</if>
            <if test="menstrualduration !=null">MENSTRUAL_DURATION=#{menstrualduration},</if>
            <if test="lastmenstrualdate !=null">LAST_MENSTRUAL_DATE=#{lastmenstrualdate},</if>
            <if test="cycletreatmentif !=null">CYCLE_TREATMENT_IF=#{cycletreatmentif},</if>
            <if test="cycletreatmenttime !=null">CYCLE_TREATMENT_TIME=#{cycletreatmenttime},</if>
            <if test="cycletreatmentdose !=null">CYCLE_TREATMENT_DOSE=#{cycletreatmentdose},</if>
            <if test="birthnum !=null">BIRTH_NUM=#{birthnum},</if>
            <if test="productnum !=null">PRODUCT_NUM=#{productnum},</if>
            <if test="contraceptionif !=null">CONTRACEPTION_IF=#{contraceptionif},</if>
            <if test="contraceptionmethod !=null">CONTRACEPTION_METHOD=#{contraceptionmethod},</if>
            <if test="iodinetreatmentif !=null">IODINE_TREATMENT_IF=#{iodinetreatmentif},</if>
            <if test="thiouraciltreatmentif !=null">THIOURACIL_TREATMENT_IF=#{thiouraciltreatmentif},</if>
            <if test="surgeryseen !=null">SURGERY_SEEN=#{surgeryseen},</if>
            <if test="labresult !=null">LAB_RESULT=#{labresult},</if>
            <if test="specialrequire !=null">SPECIAL_REQUIRE=#{specialrequire},</if>
            <if test="otherlookup !=null">OTHER_LOOKUP=#{otherlookup},</if>
            <if test="advicestatus !=null">ADVICE_STATUS=#{advicestatus},</if>
            <if test="samplenum !=null">SAMPLE_NUM=#{samplenum},</if>
            <if test="acceptdoctorid !=null  and acceptdoctorid.id !=null">ACCEPT_DOCTOR_ID=#{acceptdoctorid.id},</if>
            <if test="acceptdate !=null">ACCEPT_DATE=#{acceptdate},</if>
            <if test="acceptresult !=null">ACCEPT_RESULT=#{acceptresult},</if>
            <if test="productsnum !=null">PRODUCTS_NUM=#{productsnum},</if>
            <if test="drawnum !=null">DRAW_NUM=#{drawnum},</if>
        </trim>
        where APPLI_NO=#{applino}
    </update>


    <!--获得指定条件的List<Patientappli>-->
    <select id="getPatientappliByAllAvaliable" resultMap="patientappliResultMap" parameterType="com.equipments.management.domain.query.Patientappliquery">
        select * from eq_patient_appli
        <where>
            <if test="applino !=null">APPLI_NO=#{applino}</if>
            <if test="patientinfo !=null and patientinfo.patientno !=null">and PATIENT_NO=#{patientinfo.patientno}</if>
            <if test="inspunitname !=null">and INSP_UNIT_NAME=#{inspunitname}</if>
            <if test="inspdepartid !=null and inspdepartid.no !=null">and INSP_DEPART_ID=#{inspdepartid.no}</if>
            <if test="inspdoctid !=null and inspdoctid.id !=null">and INSP_DOCT_ID=#{inspdoctid.id}</if>
            <if test="patientkind !=null">and PATIENT_KIND=#{patientkind}</if>
            <if test="chargekind !=null">and CHARGE_KIND=#{chargekind}</if>
            <if test="chargenum !=null">and CHARGE_NUM=#{chargenum}</if>
            <if test="specimentkind !=null">and SPECIMENT_KIND=#{specimentkind}</if>
            <if test="patientdiagkind !=null">and PATIENT_DIAG_KIND=#{patientdiagkind}</if>
            <if test="diagnosisrecord !=null">and DIAGNOSIS_RECORD=#{diagnosisrecord}</if>
            <if test="applidoctorid !=null and applidoctorid.id !=null">and APPLI_DOCTOR_ID=#{applidoctorid.id}</if>
            <if test="applisymptom !=null">and APPLI_SYMPTOM=#{applisymptom}</if>
            <if test="applisigns !=null">and APPLI_SIGNS=#{applisigns}</if>
            <if test="otherdiagnosis !=null">and OTHER_DIAGNOSIS=#{otherdiagnosis}</if>
            <if test="pathologyexamif !=null">and PATHOLOGY_EXAM_IF=#{pathologyexamif}</if>
            <if test="cancerfounddate !=null">and CANCER_FOUND_DATE=#{cancerfounddate}</if>
            <if test="cancerfoundplace !=null">and CANCER_FOUND_PLACE=#{cancerfoundplace}</if>
            <if test="cancerfoundsize !=null">and CANCER_FOUND_SIZE=#{cancerfoundsize}</if>
            <if test="transferif !=null">and TRANSFER_IF=#{transferif}</if>
            <if test="transferplace !=null">and TRANSFER_PLACE=#{transferplace}</if>
            <if test="chemotherapyif !=null">and CHEMOTHERAPY_IF=#{chemotherapyif}</if>
            <if test="cancernowdate !=null">and CANCER_NOW_DATE=#{cancernowdate}</if>
            <if test="cancernowsize !=null">and CANCER_NOW_SIZE=#{cancernowsize}</if>
            <if test="menstrualcycle !=null">and MENSTRUAL_CYCLE=#{menstrualcycle}</if>
            <if test="menstrualduration !=null">and MENSTRUAL_DURATION=#{menstrualduration}</if>
            <if test="lastmenstrualdate !=null">and LAST_MENSTRUAL_DATE=#{lastmenstrualdate}</if>
            <if test="cycletreatmentif !=null">and CYCLE_TREATMENT_IF=#{cycletreatmentif}</if>
            <if test="cycletreatmenttime !=null">and CYCLE_TREATMENT_TIME=#{cycletreatmenttime}</if>
            <if test="cycletreatmentdose !=null">and CYCLE_TREATMENT_DOSE=#{cycletreatmentdose}</if>
            <if test="birthnum !=null">and BIRTH_NUM=#{birthnum}</if>
            <if test="productnum !=null">and PRODUCT_NUM=#{productnum}</if>
            <if test="contraceptionif !=null">and CONTRACEPTION_IF=#{contraceptionif}</if>
            <if test="contraceptionmethod !=null">and CONTRACEPTION_METHOD=#{contraceptionmethod}</if>
            <if test="iodinetreatmentif !=null">and IODINE_TREATMENT_IF=#{iodinetreatmentif}</if>
            <if test="thiouraciltreatmentif !=null">and THIOURACIL_TREATMENT_IF=#{thiouraciltreatmentif}</if>
            <if test="surgeryseen !=null">and SURGERY_SEEN=#{surgeryseen}</if>
            <if test="labresult !=null">and LAB_RESULT=#{labresult}</if>
            <if test="specialrequire !=null">and SPECIAL_REQUIRE=#{specialrequire}</if>
            <if test="otherlookup !=null">and OTHER_LOOKUP=#{otherlookup}</if>
            <if test="advicestatus !=null">and ADVICE_STATUS=#{advicestatus}</if>
            <if test="samplenum !=null">and SAMPLE_NUM=#{samplenum}</if>
            <if test="acceptdoctorid !=null  and acceptdoctorid.id !=null">and ACCEPT_DOCTOR_ID=#{acceptdoctorid.id}</if>
            <if test="acceptresult !=null">and ACCEPT_RESULT=#{acceptresult}</if>
            <if test="patientinfo !=null and patientinfo.patientname !=null">and eq_patient_info.PATIENT_NAME=#{patientinfo.patientname}</if>
            <if test="applidate001 != null">
                <![CDATA[ and date(APPLI_DATE) >= date(#{applidate001,jdbcType=DATE})]]>
            </if>
            <if test="applidate002 != null">
                <![CDATA[ and date(APPLI_DATE) <= date(#{applidate002,jdbcType=DATE})]]>
            </if>
            <if test="inspdate001 != null">
                <![CDATA[ and date(INSP_DATE) >= date(#{inspdate001,jdbcType=DATE})]]>
            </if>
            <if test="inspdate002 != null">
                <![CDATA[ and date(INSP_DATE) <= date(#{inspdate002,jdbcType=DATE})]]>
            </if>
            <if test="acceptdate001 != null">
                <![CDATA[ and date(ACCEPT_DATE) >= date(#{acceptdate001,jdbcType=DATE})]]>
            </if>
            <if test="acceptdate002 != null">
                <![CDATA[ and date(ACCEPT_DATE) <= date(#{acceptdate002,jdbcType=DATE})]]>
            </if>
        </where>
    </select>

<!--
    <select id="selectPatientInfoDetail" parameterType="com.equipments.management.domain.query.Patientappliquery" resultType="patientappliResultMap">
        select * from eq_patient_appli PA,eq_patient_info PI
        <where>
            PA.PATIENT_NO=PI.PATIENT_NO
            <if test="patientinfo !=null and patientinfo.patientname !=null">and PI.PATIENT_NO=#{patientinfo.patientname}</if>
            <if test="applino !=null">and PA.APPLI_NO=#{applino}</if>
            <if test="advicestatus !=null">and PA.ADVICE_STATUS=#{advicestatus}</if>
            <if test="specialrequire !=null">and PA.SPECIAL_REQUIRE=#{specialrequire}</if>
        </where>
    </select>
-->

    <resultMap id="patientappliResultMap001" type="com.equipments.management.domain.Patientappliresultdetail">
        <id property="applino" column="APPLI_NO"/>
        <result property="patientdiagkind" column="PATIENT_DIAG_KIND"/>
        <result property="specialrequire" column="SPECIAL_REQUIRE"/>
        <result property="advicestatus" column="ADVICE_STATUS"/>
        <result property="inspmethodlist" column="INSP_METHOD_LIST"/>
        <result property="samplenum" column="SAMPLE_NUM"/>
        <association property="patientinfo" column="PATIENT_NO"
                     select="com.equipments.management.mapper.PatientinfoMapper.getPatientinfoById"
                     javaType="com.equipments.management.domain.Patientinfo"/>
    </resultMap>

    <select id="selectPatientInfoDetail" resultMap="patientappliResultMap001">
        select PA.APPLI_NO,PA.PATIENT_DIAG_KIND,PA.SPECIAL_REQUIRE,PA.ADVICE_STATUS,PA.INSP_METHOD_LIST,PA.SAMPLE_NUM,PI.*
        from eq_patient_appli PA
        left join eq_patient_info PI on PA.PATIENT_NO = PI.PATIENT_NO
        <where>
            <if test="patientinfo !=null and patientinfo.patientname !=null">PI.PATIENT_NAME=#{patientinfo.patientname}</if>
            <if test="applino !=null">and PA.APPLI_NO=#{applino}</if>
            <if test="advicestatus !=null">and PA.ADVICE_STATUS=#{advicestatus}</if>
            <if test="specialrequire !=null">and PA.SPECIAL_REQUIRE=#{specialrequire}</if>
        </where>
    </select>

    <!--新结构-->
    <resultMap id="patientappliResult001Map" type="com.equipments.management.domain.gradation.Patientappli001">
        <id property="applino" column="APPLI_NO"/>
        <result property="inspunitname" column="INSP_UNIT_NAME"/>
        <result property="patientkind" column="PATIENT_KIND"/>
        <result property="chargekind" column="CHARGE_KIND"/>
        <result property="chargenum" column="CHARGE_NUM"/>
        <result property="specimentkind" column="SPECIMENT_KIND"/>
        <result property="patientdiagkind" column="PATIENT_DIAG_KIND"/>
        <result property="diagnosisrecord" column="DIAGNOSIS_RECORD"/>
        <result property="applidate" column="APPLI_DATE"  jdbcType="DATE" javaType="java.util.Date" />
        <result property="inspdate" column="INSP_DATE"  jdbcType="DATE" javaType="java.util.Date"/>
        <result property="applisymptom" column="APPLI_SYMPTOM"/>
        <result property="applisigns" column="APPLI_SIGNS"/>
        <result property="otherdiagnosis" column="OTHER_DIAGNOSIS"/>
        <result property="pathologyexamif" column="PATHOLOGY_EXAM_IF"/>
        <result property="cancerfounddate" column="CANCER_FOUND_DATE"/>
        <result property="cancerfoundplace" column="CANCER_FOUND_PLACE"/>
        <result property="cancerfoundsize" column="CANCER_FOUND_SIZE"/>
        <result property="transferif" column="TRANSFER_IF"/>
        <result property="transferplace" column="TRANSFER_PLACE"/>
        <result property="chemotherapyif" column="CHEMOTHERAPY_IF"/>
        <result property="cancernowdate" column="CANCER_NOW_DATE"/>
        <result property="cancernowsize" column="CANCER_NOW_SIZE"/>
        <result property="menstrualcycle" column="MENSTRUAL_CYCLE"/>
        <result property="menstrualduration" column="MENSTRUAL_DURATION"/>
        <result property="lastmenstrualdate" column="LAST_MENSTRUAL_DATE"/>
        <result property="cycletreatmentif" column="CYCLE_TREATMENT_IF"/>
        <result property="cycletreatmenttime" column="CYCLE_TREATMENT_TIME"/>
        <result property="cycletreatmentdose" column="CYCLE_TREATMENT_DOSE"/>
        <result property="birthnum" column="BIRTH_NUM"/>
        <result property="productnum" column="PRODUCT_NUM"/>
        <result property="contraceptionif" column="CONTRACEPTION_IF"/>
        <result property="contraceptionmethod" column="CONTRACEPTION_METHOD"/>
        <result property="iodinetreatmentif" column="IODINE_TREATMENT_IF"/>
        <result property="thiouraciltreatmentif" column="THIOURACIL_TREATMENT_IF"/>
        <result property="surgeryseen" column="SURGERY_SEEN"/>
        <result property="labresult" column="LAB_RESULT"/>
        <result property="specialrequire" column="SPECIAL_REQUIRE"/>
        <result property="otherlookup" column="OTHER_LOOKUP"/>
        <result property="advicestatus" column="ADVICE_STATUS"/>
        <result property="samplenum" column="SAMPLE_NUM"/>
        <result property="productsnum" column="PRODUCTS_NUM"/>
        <result property="drawnum" column="DRAW_NUM"/>
        <result property="acceptdate" column="ACCEPT_DATE" jdbcType="DATE" javaType="java.util.Date"/>
        <result property="acceptresult" column="ACCEPT_RESULT"/>
        <result property="inspmethodlist" column="INSP_METHOD_LIST"/>
        <association property="inspdoctid" column="INSP_DOCT_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
        <association property="applidoctorid" column="APPLI_DOCTOR_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
        <association property="acceptdoctorid" column="ACCEPT_DOCTOR_ID"
                     select="com.equipments.management.mapper.StaffMapper.getStaffById"
                     javaType="com.equipments.management.domain.Staff"/>
        <association property="inspdepartid" column="INSP_DEPART_ID"
                     select="com.equipments.management.mapper.DepartmentMapper.getDepartmentById"
                     javaType="com.equipments.management.domain.Department"/>
        <association property="pathologyreview001" column="APPLI_NO"
                     select="com.equipments.management.mapper.PathologyreviewMapper.getPathologyreviewByApplino"
                     javaType="com.equipments.management.domain.gradation.Pathologyreview001"/>
        <collection property="inspmethod001List" column="APPLI_NO" ofType="com.equipments.management.domain.gradation.Inspmethod001"
                    select="com.equipments.management.mapper.InspmethodMapper.getInspmethodByNo"/>
        <collection property="collectanatomy001List" column="APPLI_NO" ofType="com.equipments.management.domain.gradation.Collectanatomy001"
                    select="com.equipments.management.mapper.CollectanatomyMapper.getCollectanatomyByApplino"/>
        <collection property="acceptsample001List" column="APPLI_NO" ofType="com.equipments.management.domain.gradation.Acceptsample001"
                    select="com.equipments.management.mapper.AcceptsampleMapper.getAcceptsampleByApplino"/>
    </resultMap>

    <select id="getPatientappliByPatientno" parameterType="Integer"
            resultMap="patientappliResult001Map">
        select * from eq_patient_appli where PATIENT_NO=#{patientno}
    </select>


        <select id="getPatientappliByPatientno001" parameterType="java.util.Map"
                resultMap="patientappliResult001Map">
            select PAAP.* from eq_patient_appli PAAP
            left join eq_department DEPA on DEPA.DEPT_NO = PAAP.INSP_DEPART_ID
            left join eq_patient_info PAIN on PAAP.PATIENT_NO = PAIN.PATIENT_NO
            left join eq_pathology_review PARE on PARE.APPLI_NO = PAAP.APPLI_NO
            left join eq_accept_sample ACSA on ACSA.APPLI_NO = PAAP.APPLI_NO
            <where>
                <if test="hospitalizetionid !=null">PAAP.HOSPITALIZETION_ID=#{hospitalizetionid}</if>
                <if test="applino !=null">and PAAP.PATIENT_NO=#{applino}</if>
                <if test="deptno !=null">and DEPA.DEPT_NO=#{deptno}</if>
                <if test="dicinspmethodno !=null">and PAAP.INSP_METHOD_LIST=#{dicinspmethodno}</if>
                <if test="inspdate001 != null">
                    <![CDATA[ and date(PAAP.INSP_DATE) >= date(#{inspdate001,jdbcType=DATE})]]>
                </if>
                <if test="inspdate002 != null">
                    <![CDATA[ and date(PAAP.INSP_DATE) <= date(#{inspdate002,jdbcType=DATE})]]>
                </if>
                <if test="acceptdate001 != null">
                    <![CDATA[ and date(PAAP.ACCEPT_DATE) >= date(#{acceptdate001,jdbcType=DATE})]]>
                </if>
                <if test="acceptdate002 != null">
                    <![CDATA[ and date(PAAP.ACCEPT_DATE) <= date(#{acceptdate002,jdbcType=DATE})]]>
                </if>
            </where>
        </select>

    <select id="selectPatientappliValuesbyPatientdiagkind" parameterType="java.lang.String" resultMap="patientappliResultMap">
        select * from eq_patient_appli
        <where>
            <if test="_parameter != null">PATIENT_DIAG_KIND=#{patientdiagkind}</if>
        </where>
    </select>
    <select id="selectPatientappliValuesbyAcceptresult" parameterType="java.lang.String" resultMap="patientappliResultMap">
        select * from eq_patient_appli
        <where>
            <if test="_parameter != null">ACCEPT_RESULT=#{acceptresult}</if>
        </where>
    </select>
    <select id="selectPatientappliValuesbyTwo" parameterType="java.util.Map" resultMap="patientappliResultMap">
        select * from eq_patient_appli
        <where>
            <if test="acceptresult !=null">ACCEPT_RESULT=#{acceptresult}</if>
            <if test="patientdiagkind !=null">and PATIENT_DIAG_KIND=#{patientdiagkind}</if>
        </where>
    </select>
</mapper>