<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.SystemMapper">

    <!--
    1.value="acceptresult",defaultValue = "等待签收"
    -->

    <select id="getSysMsgCountinPatientappli001" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from eq_patient_appli where ACCEPT_RESULT=#{acceptresult}
    </select>
    <!--
    2.value="patientdiagkind",defaultValue = "快速冰冻"
      value="acceptresult",defaultValue = "等待签收"

    3.value="patientdiagkind",defaultValue = "病理会诊"
       value="acceptresult",defaultValue = "等待签收"
    -->
    <select id="getSysMsgCountinPatientappli" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from eq_patient_appli where ACCEPT_RESULT=#{acceptresult} and PATIENT_DIAG_KIND=#{patientdiagkind}
    </select>

    <!--
    4.value="diagnosisstatus",defaultValue = "已保存"
    -->
    <select id="getSysMsgCountinPathologyreview001" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from eq_pathology_review where DIAGNOSIS_STATUS=#{diagnosisstatus}
    </select>
    <!--
    5.value="diagnosisstatus",defaultValue = "待审核"

    6.value="reviewstatus",defaultValue = "未打印"
    -->
    <select id="getSysMsgCountinPathologyreview" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from eq_pathology_review where REVIEW_STATUS=#{reviewstatus}
    </select>
</mapper>