<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.equipments.management.mapper.zhongyaoMedMapper">

    <!-- 
        根据id查询得到一个Med对象
     -->
    <resultMap id="medResultMap" type="com.equipments.management.domain.Med">
        <id property="id" column="id"/>
        <result property="tongyongmingcheng" column="tongyongmingcheng"/>
        <result property="yingwenming" column="yingwenming"/>
        <result property="laiyuan" column="laiyuan"/>
        <result property="yuanliao" column="yuanliao"/>
        <result property="zhuangtai" column="zhuangtai"/>
        <result property="leibie001" column="leibie001"/>
        <result property="leibie002" column="leibie002"/>
        <result property="leibie003" column="leibie003"/>
        <result property="guanlileibie" column="guanlileibie"/>
        <result property="chufangyao" column="chufangyao"/>
        <result property="chengfen" column="chengfen"/>
        <result property="biaozhunguidingguige" column="biaozhunguidingguige"/>
        <result property="biaozhunwaiguige" column="biaozhunwaiguige"/>
        <result property="shiyongduixiang" column="shiyongduixiang"/>
        <result property="yongtu" column="yongtu"/>
        <result property="xianlianghuoxiuyao" column="xianlianghuoxiuyao"/>
        <result property="pizhunshijian" column="pizhunshijian"/>
        <result property="biaozhunyange" column="biaozhunyange"/>
        <result property="beizhu" column="beizhu"/>
        <result property="pdfpath" column="pdfpath"/>

        <result property="shenbaodanwei" column="shenbaodanwei"/>
        <result property="baocuntiaojian" column="baocuntiaojian"/>
        <result property="zhijileibie" column="zhijileibie"/>
        <result property="fufangyufou" column="fufangyufou"/>
        <result property="yuliu001" column="yuliu001"/>
        <result property="yuliu002" column="yuliu002"/>
        <result property="jinkouyuguochan" column="jinkouyuguochan"/>

        <result property="xiuyaoqi" column="xiuyaoqi"/>

        <result column="pizhunriqi" jdbcType="DATE" property="pizhunriqi" javaType="java.util.Date" />
    </resultMap>

    <select id="getMedById" parameterType="Integer"
            resultMap="medResultMap">
        select * from zhongyao where id=#{id}
    </select>
    <select id="getAllMeds" resultMap="medResultMap">
        select * from zhongyao
    </select>

    <!--获得不重复的单项记录-->
    <select id="getDistTongyongmingcheng" resultType="String">
        select DISTINCT tongyongmingcheng from zhongyao where tongyongmingcheng is not NULL AND tongyongmingcheng != ''
    </select>
    <select id="getDistYingwenming" resultType="String">
        select DISTINCT yingwenming from zhongyao where yingwenming is not NULL AND yingwenming != ''
    </select>
    <select id="getDistLaiyuan" resultType="String">
        select DISTINCT laiyuan from zhongyao where laiyuan is not NULL AND laiyuan != ''
    </select>
    <select id="getDistYuanliao" resultType="String">
        select DISTINCT yuanliao from zhongyao where yuanliao is not NULL AND yuanliao != ''
    </select>
    <select id="getDistZhuangtai" resultType="String">
        select DISTINCT zhuangtai from zhongyao where zhuangtai is not NULL AND zhuangtai != ''
    </select>
    <select id="getDistLeibie001" resultType="String">
        select DISTINCT leibie001 from zhongyao where leibie001 is not NULL AND leibie001 != ''
    </select>
    <select id="getDistLeibie002" resultType="String">
        select DISTINCT leibie002 from zhongyao where leibie002 is not NULL AND leibie002 != ''
    </select>
    <select id="getDistLeibie003" resultType="String">
        select DISTINCT leibie003 from zhongyao where leibie003 is not NULL AND leibie003 != ''
    </select>
    <select id="getDistGuanlileibie" resultType="String">
        select DISTINCT guanlileibie from zhongyao where guanlileibie is not NULL AND guanlileibie != ''
    </select>
    <select id="getDistChufangyao" resultType="String">
        select DISTINCT chufangyao from zhongyao where chufangyao is not NULL AND chufangyao != ''
    </select>
    <select id="getDistChengfen" resultType="String">
        select DISTINCT chengfen from zhongyao where chengfen is not NULL AND chengfen != ''
    </select>
    <select id="getDistBiaozhunguidingguige" resultType="String">
        select DISTINCT biaozhunguidingguige from zhongyao WHERE biaozhunguidingguige is not NULL AND biaozhunguidingguige != ''
    </select>
    <select id="getDistBiaozhunwaiguige" resultType="String">
        select DISTINCT biaozhunwaiguige from zhongyao WHERE biaozhunwaiguige is not NULL AND biaozhunwaiguige != ''
    </select>
    <select id="getDistShiyongduixiang" resultType="String">
        select DISTINCT shiyongduixiang from zhongyao WHERE shiyongduixiang is not NULL AND shiyongduixiang != ''
    </select>
    <select id="getDistYongtu" resultType="String">
        select DISTINCT yongtu from zhongyao WHERE yongtu is not NULL AND yongtu != ''
    </select>
    <select id="getDistXianlianghuoxiuyao" resultType="String">
        select DISTINCT xianlianghuoxiuyao from zhongyao WHERE xianlianghuoxiuyao is not NULL AND xianlianghuoxiuyao != ''
    </select>
    <select id="getDistPizhunshijian" resultType="String">
        select DISTINCT pizhunshijian from zhongyao where pizhunshijian is not NULL AND pizhunshijian != ''
    </select>
    <select id="getDistBiaozhunyange" resultType="String">
        select DISTINCT biaozhunyange from zhongyao where biaozhunyange is not NULL AND biaozhunyange != ''
    </select>

    <select id="countById" resultType="java.lang.Integer" >
        select count(1) from zhongyao
    </select>

    <insert id="addMed" parameterType="com.equipments.management.domain.Med"
            useGeneratedKeys="true" keyProperty="no">
        insert into zhongyao(tongyongmingcheng,yingwenming,laiyuan,yuanliao,zhuangtai,leibie001,leibie002,leibie003,guanlileibie,chufangyao,chengfen,biaozhunguidingguige,biaozhunwaiguige,shiyongduixiang,yongtu,xianlianghuoxiuyao,pizhunshijian,biaozhunyange,beizhu,pdfpath,shenbaodanwei,baocuntiaojian,zhijileibie,fufangyufou,yuliu001,yuliu002,jinkouyuguochan,xiuyaoqi,pizhunriqi)
        values(#{tongyongmingcheng},#{yingwenming},#{laiyuan},#{yuanliao},#{zhuangtai},#{leibie001},#{leibie002},#{leibie003},#{guanlileibie},#{chufangyao},#{chengfen},#{biaozhunguidingguige},#{biaozhunwaiguige},#{shiyongduixiang},#{yongtu},#{xianlianghuoxiuyao},#{pizhunshijian},#{biaozhunyange},#{beizhu},#{pdfpath},#{shenbaodanwei},#{baocuntiaojian},#{zhijileibie},#{fufangyufou},#{yuliu001},#{yuliu002},#{jinkouyuguochan},#{xiuyaoqi},date(#{pizhunriqi}))
    </insert>
    <delete id="removeMedById" parameterType="Integer">
        delete from zhongyao where id = #{id}
    </delete>

    <select id="getMedByAllEqual" resultMap="medResultMap" parameterType="com.equipments.management.domain.Medquery">
        select * from zhongyao
        <where>
            <if test="tongyongmingcheng !=null">tongyongmingcheng LIKE concat(concat('%',#{tongyongmingcheng}),'%')</if>
            <if test="yingwenming !=null">and yingwenming LIKE concat(concat('%',#{yingwenming}),'%')</if>
            <if test="laiyuan !=null">and laiyuan LIKE concat(concat('%',#{laiyuan}),'%')</if>
            <if test="yuanliao !=null">and yuanliao LIKE concat(concat('%',#{yuanliao}),'%')</if>
            <if test="zhuangtai !=null">and zhuangtai LIKE concat(concat('%',#{zhuangtai}),'%')</if>
            <if test="leibie001 !=null">and leibie001 LIKE concat(concat('%',#{leibie001}),'%')</if>
            <if test="leibie002 !=null">and leibie002 LIKE concat(concat('%',#{leibie002}),'%')</if>
            <if test="leibie003 !=null">and leibie003 LIKE concat(concat('%',#{leibie003}),'%')</if>
            <if test="guanlileibie !=null">and guanlileibie LIKE concat(concat('%',#{guanlileibie}),'%')</if>
            <if test="chufangyao !=null">and chufangyao LIKE concat(concat('%',#{chufangyao}),'%')</if>
            <if test="chengfen !=null">and chengfen LIKE concat(concat('%',#{chengfen}),'%')</if>
            <if test="biaozhunguidingguige !=null">and biaozhunguidingguige LIKE concat(concat('%',#{biaozhunguidingguige}),'%')</if>
            <if test="biaozhunwaiguige !=null">and biaozhunwaiguige LIKE concat(concat('%',#{biaozhunwaiguige}),'%')</if>
            <if test="shiyongduixiang !=null">and shiyongduixiang LIKE concat(concat('%',#{shiyongduixiang}),'%')</if>
            <if test="yongtu !=null">and yongtu LIKE concat(concat('%',#{yongtu}),'%')</if>
            <if test="xianlianghuoxiuyao !=null">and xianlianghuoxiuyao LIKE concat(concat('%',#{xianlianghuoxiuyao}),'%')</if>
            <if test="pizhunshijian !=null">and pizhunshijian LIKE concat(concat('%',#{pizhunshijian}),'%')</if>
            <if test="biaozhunyange !=null">and biaozhunyange LIKE concat(concat('%',#{biaozhunyange}),'%')</if>
            <if test="beizhu !=null">and beizhu LIKE concat(concat('%',#{beizhu}),'%')</if>

            <if test="shenbaodanwei !=null">and shenbaodanwei LIKE concat(concat('%',#{shenbaodanwei}),'%')</if>
            <if test="baocuntiaojian !=null">and baocuntiaojian LIKE concat(concat('%',#{baocuntiaojian}),'%')</if>
            <if test="zhijileibie !=null">and zhijileibie LIKE concat(concat('%',#{zhijileibie}),'%')</if>
            <if test="fufangyufou !=null">and fufangyufou LIKE concat(concat('%',#{fufangyufou}),'%')</if>
            <if test="yuliu001 !=null">and yuliu001 LIKE concat(concat('%',#{yuliu001}),'%')</if>
            <if test="yuliu002 !=null">and yuliu002 LIKE concat(concat('%',#{yuliu002}),'%')</if>
            <if test="jinkouyuguochan !=null">and jinkouyuguochan LIKE concat(concat('%',#{jinkouyuguochan}),'%')</if>

            <if test="xiuyaoqi !=null">and xiuyaoqi LIKE concat(concat('%',#{xiuyaoqi}),'%')</if>

            <if test="pizhunriqi != null">
                <![CDATA[ and date(pizhunriqi) >= date(#{pizhunriqi,jdbcType=DATE})]]>
            </if>
        </where>
    </select>

    <!--获得指定条件的List<Med>-->
    <select id="getMedByAll" resultMap="medResultMap" parameterType="com.equipments.management.domain.Medquery">
        select * from zhongyao
        <where>
            <if test="tongyongmingcheng !=null">tongyongmingcheng LIKE concat(concat('%',#{tongyongmingcheng}),'%')</if>
            <if test="yingwenming !=null">and yingwenming LIKE concat(concat('%',#{yingwenming}),'%')</if>
            <if test="laiyuan !=null">and laiyuan LIKE concat(concat('%',#{laiyuan}),'%')</if>
            <if test="yuanliao !=null">and yuanliao LIKE concat(concat('%',#{yuanliao}),'%')</if>
            <if test="zhuangtai !=null">and zhuangtai LIKE concat(concat('%',#{zhuangtai}),'%')</if>
            <if test="leibie001 !=null">and leibie001 LIKE concat(concat('%',#{leibie001}),'%')</if>
            <if test="leibie002 !=null">and leibie002 LIKE concat(concat('%',#{leibie002}),'%')</if>
            <if test="leibie003 !=null">and leibie003 LIKE concat(concat('%',#{leibie003}),'%')</if>
            <if test="guanlileibie !=null">and guanlileibie LIKE concat(concat('%',#{guanlileibie}),'%')</if>
            <if test="chufangyao !=null">and chufangyao LIKE concat(concat('%',#{chufangyao}),'%')</if>
            <if test="chengfen !=null">and chengfen LIKE concat(concat('%',#{chengfen}),'%')</if>
            <if test="biaozhunguidingguige !=null">and biaozhunguidingguige LIKE concat(concat('%',#{biaozhunguidingguige}),'%')</if>
            <if test="biaozhunwaiguige !=null">and biaozhunwaiguige LIKE concat(concat('%',#{biaozhunwaiguige}),'%')</if>
            <if test="shiyongduixiang !=null">and shiyongduixiang LIKE concat(concat('%',#{shiyongduixiang}),'%')</if>
            <if test="yongtu !=null">and yongtu LIKE concat(concat('%',#{yongtu}),'%')</if>
            <if test="xianlianghuoxiuyao !=null">and xianlianghuoxiuyao LIKE concat(concat('%',#{xianlianghuoxiuyao}),'%')</if>
            <if test="pizhunshijian !=null">and pizhunshijian LIKE concat(concat('%',#{pizhunshijian}),'%')</if>
            <if test="biaozhunyange !=null">and biaozhunyange LIKE concat(concat('%',#{biaozhunyange}),'%')</if>
            <if test="beizhu !=null">and beizhu LIKE concat(concat('%',#{beizhu}),'%')</if>

            <if test="shenbaodanwei !=null">and shenbaodanwei LIKE concat(concat('%',#{shenbaodanwei}),'%')</if>
            <if test="baocuntiaojian !=null">and baocuntiaojian LIKE concat(concat('%',#{baocuntiaojian}),'%')</if>
            <if test="zhijileibie !=null">and zhijileibie LIKE concat(concat('%',#{zhijileibie}),'%')</if>
            <if test="fufangyufou !=null">and fufangyufou LIKE concat(concat('%',#{fufangyufou}),'%')</if>
            <if test="yuliu001 !=null">and yuliu001 LIKE concat(concat('%',#{yuliu001}),'%')</if>
            <if test="yuliu002 !=null">and yuliu002 LIKE concat(concat('%',#{yuliu002}),'%')</if>
            <if test="jinkouyuguochan !=null">and jinkouyuguochan LIKE concat(concat('%',#{jinkouyuguochan}),'%')</if>

            <if test="xiuyaoqi !=null">and xiuyaoqi LIKE concat(concat('%',#{xiuyaoqi}),'%')</if>

            <if test="pizhunriqi1 != null">
                <![CDATA[ and date(pizhunriqi) >= date(#{pizhunriqi1,jdbcType=DATE})]]>
            </if>
            <if test="pizhunriqi2 != null">
                <![CDATA[ and date(pizhunriqi) <= date(#{pizhunriqi2,jdbcType=DATE})]]>
            </if>
        </where>
    </select>


    <!--获得指定条件的List<Med>-->
    <select id="getMedByAllOr" resultMap="medResultMap"  parameterType="com.equipments.management.domain.Medquery">
        select * from zhongyao
        <where>
            <if test="tongyongmingcheng !=null">tongyongmingcheng LIKE concat(concat('%',#{tongyongmingcheng}),'%')</if>
            <if test="yingwenming !=null">OR yingwenming LIKE concat(concat('%',#{yingwenming}),'%')</if>
            <if test="laiyuan !=null">OR laiyuan LIKE concat(concat('%',#{laiyuan}),'%')</if>
            <if test="yuanliao !=null">OR yuanliao LIKE concat(concat('%',#{yuanliao}),'%')</if>
            <if test="zhuangtai !=null">OR zhuangtai LIKE concat(concat('%',#{zhuangtai}),'%')</if>
            <if test="leibie001 !=null">OR leibie001 LIKE concat(concat('%',#{leibie001}),'%')</if>
            <if test="leibie002 !=null">OR leibie002 LIKE concat(concat('%',#{leibie002}),'%')</if>
            <if test="leibie003 !=null">OR leibie003 LIKE concat(concat('%',#{leibie003}),'%')</if>
            <if test="guanlileibie !=null">OR guanlileibie LIKE concat(concat('%',#{guanlileibie}),'%')</if>
            <if test="chufangyao !=null">OR chufangyao LIKE concat(concat('%',#{chufangyao}),'%')</if>
            <if test="chengfen !=null">OR chengfen LIKE concat(concat('%',#{chengfen}),'%')</if>
            <if test="biaozhunguidingguige !=null">OR biaozhunguidingguige LIKE concat(concat('%',#{biaozhunguidingguige}),'%')</if>
            <if test="biaozhunwaiguige !=null">OR biaozhunwaiguige LIKE concat(concat('%',#{biaozhunwaiguige}),'%')</if>
            <if test="shiyongduixiang !=null">OR shiyongduixiang LIKE concat(concat('%',#{shiyongduixiang}),'%')</if>
            <if test="yongtu !=null">OR yongtu LIKE concat(concat('%',#{yongtu}),'%')</if>
            <if test="xianlianghuoxiuyao !=null">OR xianlianghuoxiuyao LIKE concat(concat('%',#{xianlianghuoxiuyao}),'%')</if>
            <if test="pizhunshijian !=null">OR pizhunshijian LIKE concat(concat('%',#{pizhunshijian}),'%')</if>
            <if test="biaozhunyange !=null">OR biaozhunyange LIKE concat(concat('%',#{biaozhunyange}),'%')</if>
            <if test="beizhu !=null">OR beizhu LIKE concat(concat('%',#{beizhu}),'%')</if>

            <if test="shenbaodanwei !=null">OR shenbaodanwei LIKE concat(concat('%',#{shenbaodanwei}),'%')</if>
            <if test="baocuntiaojian !=null">OR baocuntiaojian LIKE concat(concat('%',#{baocuntiaojian}),'%')</if>
            <if test="zhijileibie !=null">OR zhijileibie LIKE concat(concat('%',#{zhijileibie}),'%')</if>
            <if test="fufangyufou !=null">OR fufangyufou LIKE concat(concat('%',#{fufangyufou}),'%')</if>
            <if test="yuliu001 !=null">OR yuliu001 LIKE concat(concat('%',#{yuliu001}),'%')</if>
            <if test="yuliu002 !=null">OR yuliu002 LIKE concat(concat('%',#{yuliu002}),'%')</if>
            <if test="jinkouyuguochan !=null">OR jinkouyuguochan LIKE concat(concat('%',#{jinkouyuguochan}),'%')</if>

            <if test="xiuyaoqi !=null">OR xiuyaoqi LIKE concat(concat('%',#{xiuyaoqi}),'%')</if>

            <if test="pizhunriqi1 != null">
                <![CDATA[ OR pizhunriqi >= to_date(#{pizhunriqi1,jdbcType=DATE})]]>
            </if>
            <if test="pizhunriqi2 != null">
                <![CDATA[ and pizhunriqi <= to_date(#{pizhunriqi2,jdbcType=DATE})]]>
            </if>
        </where>
    </select>


    <!--更新指定条件的Med-->
    <update id="updateMed">
        update zhongyao
        <trim prefix="set" suffixOverrides=",">
            <if test="tongyongmingcheng !=null">tongyongmingcheng=#{tongyongmingcheng},</if>
            <if test="yingwenming !=null">yingwenming=#{yingwenming},</if>
            <if test="laiyuan !=null">laiyuan=#{laiyuan},</if>
            <if test="yuanliao !=null">yuanliao=#{yuanliao},</if>
            <if test="zhuangtai !=null">zhuangtai=#{zhuangtai},</if>
            <if test="leibie001 !=null">leibie001=#{leibie001},</if>
            <if test="leibie002 !=null">leibie002=#{leibie002},</if>
            <if test="leibie003 !=null">leibie003=#{leibie003},</if>
            <if test="guanlileibie !=null">guanlileibie=#{guanlileibie},</if>
            <if test="chufangyao !=null">chufangyao=#{chufangyao},</if>
            <if test="chengfen !=null">chengfen=#{chengfen},</if>
            <if test="biaozhunguidingguige !=null">biaozhunguidingguige=#{biaozhunguidingguige},</if>
            <if test="biaozhunwaiguige !=null">biaozhunwaiguige=#{biaozhunwaiguige},</if>
            <if test="shiyongduixiang !=null">shiyongduixiang=#{shiyongduixiang},</if>
            <if test="yongtu !=null">yongtu=#{yongtu},</if>
            <if test="xianlianghuoxiuyao !=null">xianlianghuoxiuyao=#{xianlianghuoxiuyao},</if>
            <if test="pizhunshijian !=null">pizhunshijian=#{pizhunshijian},</if>
            <if test="biaozhunyange !=null">biaozhunyange=#{biaozhunyange},</if>
            <if test="beizhu !=null">beizhu=#{beizhu},</if>
            <if test="pdfpath !=null">pdfpath=#{pdfpath},</if>

            <if test="shenbaodanwei !=null">shenbaodanwei=#{shenbaodanwei},</if>
            <if test="baocuntiaojian !=null">baocuntiaojian=#{baocuntiaojian},</if>
            <if test="zhijileibie !=null">zhijileibie=#{zhijileibie},</if>
            <if test="fufangyufou !=null">fufangyufou=#{fufangyufou},</if>
            <if test="yuliu001 !=null">yuliu001=#{yuliu001},</if>
            <if test="yuliu002 !=null">yuliu002=#{yuliu002},</if>
            <if test="jinkouyuguochan !=null">jinkouyuguochan=#{jinkouyuguochan},</if>

            <if test="xiuyaoqi !=null">xiuyaoqi=#{xiuyaoqi},</if>
            <if test="pizhunriqi !=null">pizhunriqi=#{pizhunriqi},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>